<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand">BAHRAM</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>

      <li class="nav-item">
        <a routerLink="/user/:id/:name" class="nav-link">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/child" >child</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/milo" >milo</a>
      </li>
    </ul>
  </div>
  <div class="btn-group" >
    <button class="btn btn-outline-danger" style="margin-left: 1rem;" routerLink="/login">Login</button>
    <button class="btn btn-outline-warning" routerLink="/regist">Register</button>
  </div>
</nav>
<hr>
<app-parent style="color: black"></app-parent>
